
      <nav class="site-header__navigation navigation" role="navigation">
        <ul class="navigation__main-nav">
            <li><a href="/about/" class="navigation__nav-item" data-icon="">Start Here</a></li>
            <li><a href="/blog/" class="navigation__nav-item" data-icon="">Read the Blog</a></li>
            <li><a href="/remote-work-course/" class="navigation__nav-item" data-icon="">How to Travel</a></li>
            <li><a href="/contact/" class="navigation__nav-item" data-icon="">Contact Me</a></li>
            <li>
                <a href="#" class="navigation__nav-item subnav-toggle"
                   aria-haspopup="true" data-icon="">More</a>
            </li>
        </ul>
      </nav>
