
      <nav class="slide-out-nav" role="navigation"
           aria-hidden="true" aria-label="submenu">
        <ul class="slide-out-nav__nav">
          <li><a href="/category/remote-work/" class="slide-out-nav__nav-item">Earn a Living Anywhere</a></li>
          <li><a href="/category/remote-productivity/" class="slide-out-nav__nav-item">Remote Productivity Tips</a></li>
          <li><a href="/category/happiness/" class="slide-out-nav__nav-item">Happiness Practice</a></li>
          <li><a href="/blog/" class="slide-out-nav__nav-item">Blog</a></li>
          <li><a href="/about/" class="slide-out-nav__nav-item">About Jason</a></li>
          <li><a href="/speaking/" class="slide-out-nav__nav-item">Speaking</a></li>
          <li><a href="/contact/" class="slide-out-nav__nav-item">Contact</a></li>
          <li class="social-media facebook">
            <a href="https://facebook.com/jlengstorf"
               class="slide-out-nav__nav-item">
              <span class="sr-only">Facebook</span>
            </a>
          </li>
          <li class="social-media twitter">
            <a href="https://twitter.com/jlengstorf"
               class="slide-out-nav__nav-item">
              <span class="sr-only">Twitter</span>
            </a>
          </li>
          <li class="social-media instagram">
            <a href="https://instagram.com/jlengstorf"
               class="slide-out-nav__nav-item">
              <span class="sr-only">Instagram</span>
            </a>
          </li>
        </ul>
      </nav>
