    <!-- Schema.org markup -->
    <meta itemprop="name" content="{{ if .Params.seo_title }}{{ .Params.seo_title }}{{ else }}{{ .Title }}{{ end }}">
    <meta itemprop="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}Jason Lengstorf is an author, a speaker, and a solver of hard problems. He is currently experimenting with permanent travel and remote work.{{ end }}{{ end }}">
{{ with .Params.images }}{{ range first 6 . }}
    {{ if in . "-600x300" }}{{ else }}<meta itemprop="image" content="{{ . | absURL }}">{{ end }}{{ end }}
{{ else }}
    <meta itemprop="image" content="{{ "/images/jason-lengstorf.jpg" | absURL }}">
{{ end }}
    {{if .IsPage}}<meta itemprop="wordCount" content="{{ .WordCount }}">{{ end }}
{{ if eq (add .Permalink "") (add .Site.BaseURL "") }}
  {{ with $.Site.Params.schema }}
    <script type='application/ld+json'>
    {
      "@context":"http://schema.org",
      "@type": {{ .type }},
      "url": {{ $.Site.BaseURL }},
      "sameAs": {{ .sameAs }},
      "name": {{ .name }}
    }
    </script>
  {{ end }}
{{ end }}
{{ if eq .Section "blog" }}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "headline": "{{ .Params.seo_title }}",
      "alternativeHeadline": "{{ .Title }}",
      "image": {{ apply .Params.images "absURL" "." }},
      "datePublished": "{{ .Date }}",
      "description": {{ safeHTML .Description }},
      "articleBody": {{ safeHTML (chomp .Content) }}
    }
    </script>
{{ end }}
