/*
 * Responsive image
 *
 * Keep images from scaling beyond the width of their parents.
 */
@define-mixin img-responsive $display: block {
  display: $display;

  /* Part 1: Set a maximum relative to the parent */
  max-width: 100%;

  /* Part 2: Scale the height according to width to avoid stretching */
  height: auto;
}
