{{ if isset .Params "hide_footer_bio" }}{{ else }}
    <div class="footer-about">
      <div class="footer-about__image">
          <img src="{{ "/images/jason-lengstorf_footer-sm.jpg" | relURL }}"
               alt="Jason Lengstorf — Author, Speaker, Location-Independent Remote Worker">
      </div>
      <div class="footer-about__bio">
        <h2 class="footer-about__headline">
          I&rsquo;m Jason Lengstorf: an author, speaker, and digital nomad.
        </h2>
        <div class="footer-about__copy">
          <p>
            I&rsquo;m also an Overkill Cult survivor.
            In 2013 I was working 70&ndash;90 hours a week &mdash; it got
            so bad that patches of my beard started falling out. I needed to make some changes to my lifestyle before it killed me.
          </p>
          <p>
            In 2014 I sold everything I owned and started traveling the
            world. I thought it would be hard, but it&rsquo;s been
            surprisingly easy to work remotely from places like Barcelona,
            London, and Chiang Mai.
          </p>
          <p>
            What I&rsquo;m doing is exciting, but I&rsquo;m not special. <em>Anyone
            can do this.</em> If you&rsquo;ve ever dreamed of working remotely and
            exploring the world, I want to help you make your dream a
            reality.
          </p>
        </div>
        <div class="footer-about__links">
          <a href="/remote-work-course/">Start Earning from Anywhere</a>
        </div>
      </div>
    </div>
{{ end }}
    <div class="post-footnotes hidden"></div>

{{ partial "footer/navigation.html" . }}
