
    <header class="site-header closed">
      <a href="{{ .Site.BaseURL }}"
         class="site-header__brand"
         title="Work from Anywhere — Jason Lengstorf"
         rel="home">Jason Lengstorf</a>
      {{ partial "navigation.html" . }}
    </header>

    {{ "<!--[if lte IE 9]>" | safeHTML }}
    <p style="color: red;">
      This browser is too old to support the styles for this site. To make sure the
      content is still accessible, you&rsquo;re being served a version of the site without
      a stylesheet so you can see and interact with everything. It ain&rsquo;t pretty, but
      it&rsquo;ll work for you. :)
    </p>
    {{ "<![endif]-->" | safeHTML }}
