
      <nav class="site-header__navigation navigation" role="navigation">
        <ul class="navigation__main-nav">
            <li><a href="/about/" class="navigation__nav-item" data-icon="">Start Here</a></li>
            <li><a href="/blog/" class="navigation__nav-item" data-icon="">Read the Blog</a></li>
            <li><a href="/remote-work-course/" class="navigation__nav-item" data-icon="">Work Abroad</a></li>
            <li><a href="/contact/" class="navigation__nav-item" data-icon="">Contact Me</a></li>
            <li>
                <a href="#" class="navigation__nav-item subnav-toggle"
                   aria-haspopup="true" data-icon="">More Options</a>
            </li>
        </ul>
        <ul class="navigation__secondary-nav"
            aria-hidden="true" aria-label="submenu">
          <li><a href="/category/remote-work/" class="navigation__secondary-nav-item">Earn a Living Anywhere</a></li>
          <li><a href="/category/remote-productivity/" class="navigation__secondary-nav-item">Remote Productivity Tips</a></li>
          <li><a href="/category/happiness/" class="navigation__secondary-nav-item">Happiness Practice</a></li>
          <li><a href="/blog/" class="navigation__secondary-nav-item">Blog</a></li>
          <li><a href="/about/" class="navigation__secondary-nav-item">About Jason</a></li>
          <li><a href="/speaking/" class="navigation__secondary-nav-item">Speaking</a></li>
          <li><a href="/contact/" class="navigation__secondary-nav-item">Contact</a></li>
          <li class="social-media facebook">
            <a href="https://facebook.com/jlengstorf"
               class="navigation__secondary-nav-item">
              <span class="sr-only">Facebook</span>
            </a>
          </li>
          <li class="social-media twitter">
            <a href="https://twitter.com/jlengstorf"
               class="navigation__secondary-nav-item">
              <span class="sr-only">Twitter</span>
            </a>
          </li>
          <li class="social-media instagram">
            <a href="https://instagram.com/jlengstorf"
               class="navigation__secondary-nav-item">
              <span class="sr-only">Instagram</span>
            </a>
          </li>
        </ul>
      </nav>
