<!--

  This shortcode mimics the WordPress [caption] shortcode (sort of).

  Options:
  - align <enum> [ alignleft, alignright, aligncenter ]
  - attr <string> entity to be credited for the image
  - attrlink <string> Must be a valid URL
  - alt <string> alt text for the image
  - src <string> Path to the image

  Usage:

  *******************************************************************

  {{ $innerLength := len .Inner }}

-->

<figure class="caption {{ with .Get "align" }}{{.}}{{ end }}">
  <img src="{{ .Get "src" }}"
       alt="{{ with .Get "alt" }}{{.}}{{ end }}">
  {{ if or (.Get "attr") (gt $innerLength 0) }}<figcaption class="caption-text">
    {{ with .Inner }}{{ . }}{{ end }}
    {{ if isset .Params "attr" }}<small>Credit: {{ with .Get "attrlink" }}<a href="{{.}}">{{ end }}{{ .Get "attr" }}{{ if .Get "attrlink" }}</a>{{ end }}</small>{{ end }}
  </figcaption>{{ end }}
</figure>
