<!--

Adds a call to action into the content.

{{ $cta := .Get 0 }}

-->
<h2>{{ if isset .Params 1 }}{{ .Get 1 }}{{ else }}What To Do Next{{ end }}</h2>
{{ if eq $cta "travel" }}<p>
  If you&rsquo;re like me, the idea of traveling permanently while making a living probably seems like a dream — but you don&rsquo;t think you can pull it off.
</p>
<p>
  I felt that way right up until I actually boarded a flight to leave the United States. And now I can&rsquo;t believe I didn&rsquo;t start living this life sooner.
</p>
<p>
  <strong>I want to help you avoid my mistake: you can start living the life of your dreams right now. And I&rsquo;ve put together a <a href="https://lengstorf.com/remote-work-course/">free step-by-step guide</a> to show you how.</strong>
</p>
<p>
  <a href="{{ .Page.Site.BaseURL }}remote-work-course/"
     class="js__ga-track-campaign"
     data-campaign="remote-work-course"
     data-source="{{ .Page.Slug }}">Click here to get the free guide.</a>
</p>{{ end }}
{{ if eq $cta "focus" }}<p>
  Being an adult is hard.
</p>
<p>
  There's just so much to do: we're supposed to build careers, build relationships, build futures, build happiness — it gets pretty fucking overwhelming. It's easy to feel lost. To feel like we're on autopilot, punching a clock, doing things we don't really care about. What happened to that excitement we used to feel? That sense of purpose?
</p>
<p>
  I want to help you find meaning in your work again. I want to help you take back your time, eliminate the things that drain you, and focus on the things that matter most, whether that's your family, your career, your happiness — or all three.
</p>
<p>
  To help you, I've put together a free mini-course to help you take back control, so you can start living the life you <em>want</em>.
</p>
<p>
  <a href="{{ .Page.Site.BaseURL }}focus-course/"
     class="js__ga-track-campaign"
     data-campaign="focus-course"
     data-source="{{ .Page.Slug }}">Click here to get the free guide.</a>
</p>{{ end }}
