<!--

Adds a call to action into the content.

{{ $cta := .Get 0 }}

-->
{{ if eq $cta "travel" }}<h2>{{ if isset .Params 1 }}{{ .Get 1 }}{{ else }}What&rsquo;s Next?{{ end }}</h2>
<p>
  If you&rsquo;re like me, the idea of traveling permanently while making a living probably seems like a dream — but you don&rsquo;t think you can pull it off.
</p>
<p>
  I felt that way right up until I actually boarded a flight to leave the United States. And now I can&rsquo;t believe I didn&rsquo;t start living this life sooner.
</p>
<p>
  <strong>I want to help you avoid my mistake: you can start living the life of your dreams right now. And I&rsquo;ve put together a <a href="http://lengstorf.com/remote-work-course/">free step-by-step guide</a> to show you how.</strong>
</p>
<p>
  <a href="http://lengstorf.com/remote-work-course/">Click here to get the free guide.</a>
</p>{{ end }}
